
.smsThTime{
	width: 160px !important;
}

.smsThSender{
	width: 100px !important;
}

.inputAccount{
  width: 250px !important;;
}
.inputPassword {
  width: 350px !important;;
}
.inputEmail{
  width: 250px !important;
}

.panelForm{
  align:center !important;
}

.fileUpload uploadButton{
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;

}

.fileUpload input.uploadTail{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}